@import url('fonts.css');

*, *::before, *::after {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
  flex: 0 0 auto;
}

:root {
  height: 100%;
  font-family: Barlow, sans-serif;
  font-size: clamp(75%, 0.5vw + 0.5rem, 100%);
  font-weight: 500;
  line-height: 1.5;
  color: white;
  /* Prevent pulling slightly up, then down on iOS from capturing this scroll instead of the main scroll */
  overflow: hidden;
  overflow-wrap: anywhere;
}

body {
  height: 100%;
  background-color: black;
  margin: 0;
}

main {
  height: 100%;
  overflow: hidden auto;
  scroll-padding: 2rem;
  scroll-behavior: smooth;

  /* Too jerky on iOS
  scroll-snap-type: both proximity; */

  #main-title, #personal-links-wrapper {
    transition: opacity 1s;
  }

  &[inert] {
    #main-title, #personal-links-wrapper {
      opacity: 0;
      transition: none;
    }
  }
}

p, ul, ol {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: Atma, system-ui;
  line-height: 1.25;
}

h1, h3, h5 {
  font-family: "Denk One", sans-serif;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
}
h2 {
  font-size: 4rem;
  font-weight: 600;
}
h3 {
  font-size: 3.5rem;
  font-weight: 500;
}
h4 {
  font-size: 3rem;
  font-weight: 400;
}
h5 {
  font-size: 2.5rem;
  font-weight: 400;
}
h6 {
  font-size: 2rem;
  font-weight: 300;
}

button {
  /* Easy CSS reset */
  all: unset;
  outline: revert;

  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#color-bloom-canvas-wrapper {
  opacity: 0.25;

  @media (prefers-reduced-motion: reduce) {
    visibility: hidden;
  }
}

.element-text {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: black;
  padding: 8px 16px;
  user-select: none;
  text-align: center;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  align-items: safe center;

  /* Maintain centering over scrolling to overflow in the cross direction */
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: safe center;

  /* Maintain centering over scrolling to overflow in the cross direction */
  align-items: center;
}

.gap-small {
  gap: 16px;
}

.padding-small {
  padding: 16px;
}

.relative {
  position: relative;
}

.full-width {
  width: 100%;
}

#my-photo-wrapper {
  max-width: 100%;

  #my-photo, #my-photo-image {
    width: 358px;
    height: 358px;
  }

  #my-photo-image {
    position: relative;
    z-index: -1;
    border-radius: 999999px;
    display: none;
  }

  @media (prefers-reduced-motion: reduce) {
    #my-photo {
      display: none;
    }

    #my-photo-image {
      display: block;
    }
  }
}

.scroll-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 36px 24px;
  /* Too jerky on iOS
  scroll-snap-align: center; */
}

.template-page {
  display: grid;
  grid-template-rows: minmax(min-content, 1fr) minmax(min-content, auto) minmax(min-content, 1fr);
  grid-template-columns: 1fr;

  &:first-child {
    height: 100%;
  }

  &.shrinking-center {
    grid-template-rows: minmax(min-content, 1fr) minmax(0, auto) minmax(min-content, 1fr);
    min-height: 650px;
  }

  .section-header {
    padding-bottom: 24px;

    @media (width <= 500px) {
      /* Support 200% text magnification while barely avoiding breaking words */
      margin-left: -24px;
      margin-right: -24px;
      padding-top: 0;
    }
  }

  > :first-child {
    align-self: flex-start;
  }

  > :last-child {
    align-self: flex-end;
  }

  > * {
    justify-self: center;
  }
}

.section-header {
  text-align: center;
  filter: drop-shadow(0 0 4px black);
}

#down-arrow {
  /* all: unset; */
  cursor: pointer;
  margin: 0 -24px -36px;
  width: calc(2 * 22px + 100%);
  max-width: 500px;
  border-radius: 99999px;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
  transition: opacity 0.5s, visibility 0s 0s allow-discrete;
  padding-top: 32px;
  padding-bottom: 26px;

  &::before {
    content: '▼';
    display: inline-block;
    font-size: 32px;

    --transform-value: scaleX(3.5);
    transform: var(--transform-value);
    animation: vertical-shake 2s infinite;
  }

  &.scrolled {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s 0.5s allow-discrete;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: rgba(255 255 255 / 0.15);

      &::before {
        --transform-value: scaleX(4.5);
      }
    }
  }

  /* On my iPhone Safari browser, the viewport is 390px x 663px */
  @media (height < 660px) {
    display: none;
  }

  @media (prefers-reduced-motion: reduce) {
    &::before {
      animation: none;
    }
  }
}

@keyframes vertical-shake {
  0% {
    transform: var(--transform-value);
  }
  50% {
    transform: var(--transform-value);
  }
  70% {
    transform: var(--transform-value) translateY(-0.5rem);
  }
  85% {
    transform: var(--transform-value) translateY(0.5rem);
  }
  100% {
    transform: var(--transform-value);
  }
}

#personal-links {
  /* Estimate to give the same height as the heading
  so that the photo stays centered at small heights */
  padding-top: 5.375rem;
  gap: 16px;
  max-width: 100%;
  flex-wrap: wrap;
  align-items: stretch;
}

#project-links {
  gap: 20px;
  max-width: 100%;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;

  details {
    summary {
      /* Match the outline for links */
      outline-offset: 1px;
      width: 100%;
      cursor: pointer;
    }

    &[open] summary > .element-text > span:first-child {
      > span {
        opacity: 0;
      }

      &::before {
        content: '▼' / '';
        position: absolute;
      }
    }
  }

  .project-links-details-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-block: 16px;
    gap: 16px;

    .bloom-button {
      flex: 0 0 auto;
      padding: 8px;
      border-radius: 99999px;
      overflow: hidden;

      .element-text {
        padding: 8px;
        border-radius: 99999px;

        img {
          height: 2rem;
        }
      }
    }
  }

  .bloom-button {
    flex: 1 1 0;
    min-width: auto;
    min-height: auto;
    padding: 9px 12px;
    border-width: 2px;
    border-radius: 4px;

    .element-text {
      justify-content: flex-start;
      text-align: left;
      gap: 16px;
      flex-wrap: wrap;
      align-content: flex-start;
      padding: 0 10px;
      border-radius: 2px;

      > span:first-child {
        /* Support replacement with down arrow for details summary elements */
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
      }

      > .column {
        flex: 1 1 auto;
        align-items: flex-start;
        flex-wrap: wrap;

        > span {
          max-width: 100%;

          &:first-child {
            font-size: 1.5rem;
            font-family: "Denk One", sans-serif;
            font-weight: normal;

            &::after {
              /* Get screen readers to pause */
              content: ':';
              opacity: 0;
              width: 0;
              display: inline-block;
              vertical-align: bottom;
              overflow: hidden;
              pointer-events: none;
              position: relative;
              z-index: -1;
            }
          }
        }
      }
    }
  }
}

.bloom-button {
  position: relative;
  display: inline-block;
  user-select: none;
  border: 1px solid white;
  border-radius: 2px;
  background: transparent;
  padding: 6px 8px;
  font-size: inherit;
  font-weight: 500;
  max-width: 100%;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
  transition: opacity, box-shadow 0.15s;
  -webkit-tap-highlight-color: transparent;

  &:focus-visible {
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.7);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.7);
    }
  }

  &:active {
    opacity: 0.8;
  }

  &, &:active, &:hover, &:visited {
    color: inherit;
    text-decoration: none;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgb(0 0 0 / 0.5);
    z-index: -1;
  }

  .element-text {
    font-family: inherit;
    gap: 0.5rem;
    padding: 5px 10px;

    > img {
      height: 1.25rem;
    }
  }
}

#support-button {
  margin-top: 32px;

  .element-text > span {
    font-size: 1.33rem;
    margin: -50% 0;
  }
}

dialog#support-dialog {
  margin: auto;
  padding: 20px;
  position: fixed;
  inset: 0;
  z-index: 50;
  border: none;
  background: transparent;
  width: 100%;
  min-width: 350px;
  max-width: 420px;
  height: 750px;
  max-height: 100%;

  .modal-backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #modal-foreground {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  #donation-option-selection {
    flex-shrink: 1;
    background: white;
    border-radius: 8px;
    overflow: hidden;

    &:not(:has(#venmo-option:checked)) #venmo-description {
      display: none;
    }
    &:not(:has(#venmo-option:checked)) + .modal #venmo-content {
      display: none;
    }

    &:not(:has(#buymeacoffee-option:checked)) #buymeacoffee-description {
      display: none;
    }
    &:not(:has(#buymeacoffee-option:checked)) + .modal #buymeacoffee-content {
      display: none;
    }

    &:not(:has(#ko-fi-option:checked)) #ko-fi-description {
      display: none;
    }
    &:not(:has(#ko-fi-option:checked)) + .modal #ko-fi-content {
      display: none;
    }

    img {
      height: 1.25rem;

      &.dark-mode {
        display: none;
      }

      @media (prefers-contrast: more) {
        &.dark-mode {
          display: inline;
        }
        &.light-mode {
          display: none;
        }
      }
    }

    > div {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    #donation-options {
      label {
        -webkit-tap-highlight-color: transparent;
        position: relative;
        cursor: pointer;
        padding: 16px 8px;
        height: 100%;
        flex: 1 1 100%;
        text-align: center;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 0.5rem;

        &:has(input:not(:checked)) {
          background: #ddd;

          @media (prefers-contrast: more) {
            filter: invert(0.125);
          }
        }

        /* Keep the focus outline visible */
        > input[type=radio] {
          /* Easy CSS reset */
          all: unset;
          outline: revert;

          position: absolute;
          inset: 4px;
          width: calc(100% - 8px);
          height: calc(100% - 8px);
          pointer-events: none;
        }

        > span {
          flex-shrink: 1;
        }
      }
    }

    #donation-option-description {
      padding: 16px;
      flex-shrink: 1;
      overflow: auto;

      ul {
        padding-inline-start: 24px;
        width: 100%;
      }
    }
  }

  .modal {
    position: relative;
    width: 100%;
    flex: 1;
    min-height: 33%;
    display: flex;
    flex-direction: column;

    > * {
      flex: 1;

      &:not(button) {
        background-color: white;
        border-radius: 8px;
      }
    }

    > div {
      height: 100%;
      overflow: auto;

      > a {
        width: 100%;
        min-height: 100%;

        > img {
          max-width: 100%;

          @media (prefers-contrast: more) {
            filter: invert(0.875);
          }
        }
      }
    }
  }

  .close-button {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 999999px;
    line-height: 1;
    font-size: 14px;
    position: absolute;
    /* top: -8.5px;
    right: -8.5px; */
    top: -13px;
    right: -13px;
    z-index: 10;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding: 0;
    font-family: sans-serif;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: #ddd;
      }
    }

    > span::before {
      content: '❌' / '';
      /* Make the emoji always appear black */
      filter: brightness(0);

      @media (prefers-contrast: more) {
        filter: brightness(0) invert(1);
      }
    }
  }
}
